.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
  .up {
    right: 1%;
    position: absolute;
  }

  td {
    border: 1px solid;
  }

  table {
    margin: 0 auto;
  }

  .long {
    left: 250px;
    position: absolute;
  }

  .long2 {
    left: 400px;
    position: absolute;
  }

  .long3 {
    position: absolute;
    left: 820px;
    top: 580px;
  }

  p {
    font-size: 80%;
  }

  table {
    font-size: 80%;
    width: 770px;
    height: 120px;
  }